:root {
    --white-color: #F2EDE4;
    --black-color: #2C2C2A;
    --green-color: #7ec29f;
    --darkgreen-color: #1A4A35;
    --font-title: "Cormorant Garamond", serif;
    --font-text: "Lato", sans-serif;
}

* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: var(--white-color);
}

img {
    width: 100%;
    vertical-align: middle;
}

header {
    color: var(--white-color);
    background-color: var(--darkgreen-color);
    padding: 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
}

header a {
    text-decoration: none;
    color: var(--white-color);
    font-family: var(--font-title);
    font-size: 1.15rem;
}

.logo {
    letter-spacing: 0.5rem;
    font-size: 1.5rem !important;
    font-weight: 700;
}

.menu-desktop {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#movil {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 64px;
    left: 0;
    background-color: var(--green-color);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

#movil > .menu-movil {
    list-style: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.75rem;
    font-size: 2rem;
}

.icons-mobile {
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

.icons-mobile > .fa-xmark {
    display: none;
}

#sideMenu {
    display: none;
}

#movil {
    display: none;
}

.side-menu:checked ~ #movil {
    max-height: 100%;
}

.side-menu:checked ~.icons-mobile > .fa-bars {
    display: none;
}

.side-menu:checked ~.icons-mobile > .fa-xmark {
    display: block;
}

#hero {
    background-image: url(../media/img/obras-11.webp);
    background-size: cover;
    background-position: center;
    height: calc(100vh - 58px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(44, 42, 42, 0.5);
}

.contenido {
    text-align: center;
    color: var(--white-color);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
    z-index: 1;
}

.texto-hero {
    font-family: var(--font-text);
    font-weight: 700;
    letter-spacing: 0.35rem;
    color: var(--green-color);
}

h1 {
    font-family: var(--font-title);
    font-weight: 700;
    font-size: 5rem;
}

.contenido > h2 {
    color: var(--green-color);
    font-family: var(--font-title);
    font-weight: 700;
    font-style: italic;
    font-size: 2.5rem;
}

.fechas {
    font-family: var(--font-text);
    font-size: 0.9rem;
    letter-spacing: 0.15rem;
    font-weight: 400;
}

.botones {
    display: flex;
    flex-direction: row;
    margin-top: 1.5rem;
    gap: 3rem;
}

.btn-1 {
    background-color: var(--white-color);
    color: var(--darkgreen-color);
    text-decoration: none;
    font-family: var(--font-text);
    padding: 1rem 2rem;
    font-size: 0.9rem;
    letter-spacing: 0.15rem;
}

.btn-2 {
    background-color: var(--darkgreen-color);
    color: var(--green-color);
    text-decoration: none;
    font-family: var(--font-text);
    padding: 1rem 2rem;
    font-size: 0.9rem;
    letter-spacing: 0.15rem;
}

section {
    padding: 5rem 3rem;
}

.abt-contenido {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4rem;
}

.texto {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    width: 50%;
}

.label {
    font-family: var(--font-text);
    color: var(--green-color) !important;
    letter-spacing: 0.3rem !important;
    font-weight: 400 !important;
}

.texto h3 {
    font-family: var(--font-title);
    color: var(--darkgreen-color);
    font-size: 2.5rem;
    font-weight: 700;
}

.texto p {
    font-family: var(--font-text);
    font-size: 1rem;
    color: var(--darkgreen-color);
    font-weight: 300;
    line-height: 1.5;
}

.foto {
    width: 50%;
}

.foto figure {
    width: 100%;
}

#obras {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.mini-galeria {
    display: flex;
    flex-wrap: wrap;
    margin: 1em 0;
    grid-gap: 1em;
}

.mini-galeria > figure {
    position: relative;
    flex: calc(33% - 0.5em);
}

.mini-galeria > figure > figcaption {
    padding: 2rem;
    font-family: var(--font-title);
    color: var(--darkgreen-color);
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
}

#obras > a {
    text-decoration: none;
    font-family: var(--font-text);
    color: var(--darkgreen-color);
    font-weight: 600;
    display: flex;
    justify-content: end;
}

#obras > a > i {
    margin-left: 0.5rem;
    display: flex;
    align-items: center;
}

#thomas {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.thomas-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.thomas-cont figure {
    flex: 0 0 350px;
}

.t-texto {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding-left: 2rem;
}

.t-texto h3 {
    font-family: var(--font-title);
    color: var(--darkgreen-color);
    font-size: 2.5rem;
    font-weight: 700;
}

.t-texto p {
    font-family: var(--font-text);
    font-size: 1rem;
    color: var(--darkgreen-color);
    font-weight: 300;
    line-height: 1.5;
}

#cta {
    background-color: var(--darkgreen-color);
}

.cta-contenido {
    gap: 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cta-label {
    color: var(--green-color);
    font-family: var(--font-text);
    letter-spacing: 0.3rem !important;
    font-weight: 400 !important;
    font-size: 0.75rem !important;
}

.cta-contenido h3 {
    font-family: var(--font-title);
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--white-color);
}

.cta-contenido p {
    font-family: var(--font-text);
    font-size: 0.9rem;
    font-weight: 300;
    letter-spacing: 0.15rem;
    color: var(--green-color);
}

footer {
    background-color: var(--black-color);
    padding: 2rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.f-contenido {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.f-contenido img {
    width: 120px;
    margin-bottom: 0.5rem;
}

.f-contenido p {
    color: var(--white-color);
    font-family: var(--font-text);
    font-size: 0.8rem;
    font-weight: 300;
}

.rs-icons {
    display: flex;
    gap: 1.25rem;
}

.rs-icons i {
    font-size: 1.25rem;
    color: var(--green-color);
    transition: opacity 0.3s ease;
    cursor: pointer;
    font-size: 2rem;
}

.rs-icons i:hover {
    opacity: 0.7;
}

/* MEDIA QUERIES */
@media screen and (max-width: 720px) {
    
    #menu {
        display: none;
    }

    .icons-mobile {
        display: block;
    }

    #movil {
        display: block;
    }
}