:root {
    --white-color: #F2EDE4;
    --black-color: #2C2C2A;
    --green-color: #7ab898;
    --darkgreen-color: #1A4A35;
    --font-title: "Cormorant Garamond", serif;
    --font-text: "Lato", sans-serif;
}